.main-page-categories {
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  o-column-width: 150px;
  -ms-column-width: 150px;
  column-width: 150px;
}
.main-page-categories__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
@media only screen and (max-width: 400px) {
  .main-page-categories__block {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.main-page-categories__name {
  color: #105cb6;
  text-decoration: none;
  font-size: 14px;
  font: 14px Roboto;
}
.main-page-categories__name_subcat {
  margin-left: 20px;
}
.main-page-categories__name:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 400px) {
  .main-page-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
